body {
    font-family: Montserrat, "Helvetica", "Arial";
}

.container {
    margin: 0.5em;
}

.header {
    margin-top: 2em;
    text-align: center;
}

button.submit {
    border: none;
    background-color:rgb(196, 196, 196);
    padding: 0.5em;
    transition: 0.2s;
}

button.submit:hover {
    background-color:rgb(126, 192, 103)
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    cursor: pointer;
    background-color: rgb(209, 230, 245);
    padding: 0.5em;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    transition: 0.2s;
}

ul li:nth-child(even) {
    background-color: rgb(186, 222, 249)
}

ul li:hover {
    background-color: rgb(186, 222, 249)
}

ul li.checked {
     text-decoration: line-through;
     background-color:rgb(40, 117, 176);
}

ul li.checked span {
    text-decoration: none;
}

span.remove-button:hover{
    color: rgb(196, 83, 83);
}

@media only screen and (min-width: 992px){
    .container {
        margin: 3em;
        padding-left: 25%;
        padding-right: 25%;
    }
}